<div class="row header-focus">
    <div class="row intro-lead-in">
    </div>
    <div class="container">
        <div class="col-lg-6 col-lg-offset-3 header-toggle">
            <div class="row">
                <h1>Account Information for <%= current_user.name %>!</h1>
            </div>
        </div><!--/container-->
	</div><!--/row header-focus--> 
</div>