<div class="row rent-confirmation form-style-5">
	<h1>Rental Confirmation</h1>
	<h2>Are you sure?</h2>

	<%= link_to 'Go Back', '', class: "btn btn-success call-to-action rentconfirm-goback-btn" %>
</div>