<!--<div class="row header-focus">-->
    <div class="row intro-lead-in"></div>
        <div class="container">
            <div class="col-lg-5 header-toggle">
                <div class="row">
                    <label class="header-label">Car Renters</label>
                </div>
                <div class="row renter-msgs-carousel-row">
                    <div class="col-lg-12">
                        <div id="myCarousel" class="carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active carousel-item">
                                    <label class="seller-message">Rent directly from car owners and save!</label>
                                </div>
                                <div class="item carousel-item">
                                    <label class="seller-message">Your payment is held in escrow until you get the keys to the car.</label>
                                </div>
                                
                                <div class="item carousel-item">
                                    <label class="seller-message">Thousands of cars to choose from to meet your car rental needs.</label>
                                </div>
                            </div>
                        </div>
                    </div><!--/col-lg-6 col-lg-offset-3-->
                </div> <!--/row renter-msgs-carousel-row-->
                <div class="row cars-carousel-row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div id="myCarousel" class="carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active carousel-item">
                                    <img src="/assets/cars/car1.jpg" alt="Chania">
                                </div>
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car2.jpg" alt="Chania">
                                </div>
                                
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car3.jpg" alt="Flower">
                                </div>
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car4.jpg" alt="Flower">
                                </div>
                            </div>
                        </div>
                    </div><!--/col-lg-6 col-lg-offset-3-->
                </div> <!--/row cars-carousel-row-->
                <div class="row">
                    <% unless (user_signed_in?) %>
                        <%= link_to "Rent Now", "#", class: "login-link btn btn-success call-to-action", data: { redirect: "rent-now" } %>
                    <% else %>
                        <%= link_to "Rent Now", car_search_path, class: "btn btn-success call-to-action" %>
                    <% end %>

                </div>
            </div>
            <div class="col-lg-5 col-lg-offset-2 header-toggle">
                <div>
                    <label class="header-label">Car Owners</label>
                </div>
                <div class="row renter-msgs-carousel-row">
                    <div class="col-lg-12">
                        <div id="myCarousel" class="carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active carousel-item">
                                    <label class="seller-message">Make money from your car when it's not in use!</label>
                                </div>
                                <div class="item carousel-item">
                                    <label class="seller-message">Easy and safe! We verify the identity of renters and owners.</label>
                                </div>
                                <div class="item carousel-item">
                                    <label class="seller-message">We hold the payment and deposit right into your account when the renter takes the car!</label>
                                </div>
                                <div class="item carousel-item">
                                    <label class="seller-message">For a limited time, we are only charging a service fee of 5% of the total rental price!</label>
                                </div>
                            </div>
                        </div>
                    </div><!--/col-lg-6 col-lg-offset-3-->
                </div> <!--/row renter-msgs-carousel-row-->
                <div class="row cars-carousel-row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div id="myCarousel" class="carousel" data-ride="carousel">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                <div class="item active carousel-item">
                                    <img src="/assets/cars/car1.jpg" alt="Chania">
                                </div>
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car2.jpg" alt="Chania">
                                </div>
                                
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car3.jpg" alt="Flower">
                                </div>
                                <div class="item carousel-item">
                                    <img src="/assets/cars/car4.jpg" alt="Flower">
                                </div>
                            </div>
                        </div>
                    </div><!--/col-lg-6 col-lg-offset-3-->
                </div> <!--/row cars-carousel-row-->
                <div class="row">
                    <% unless (user_signed_in?) %>
                        <%= link_to "List Your Car", "#", class: "login-link btn btn-success call-to-action", data: { redirect: "list-your-car" } %>
                    <% else %>
                        <%= link_to "List Your Car", new_car_path, class: "btn btn-success call-to-action" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div><!--/container-->
<!--</div><!-/row header-focus--> 