<div class="row car-search-controls">
	<div class="container">
		<div class='col-sm-3'>
			<div class="form-group">
				<div>
					<input type='text' class="form-control" placeholder="Enter city or airport"/>
				</div>
			</div>
		</div>
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id='datetimepicker6'>
					<input type='text' class="form-control" placeholder="Pickup"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class='col-sm-3'>
			<div class="form-group">
				<div class='input-group date' id='datetimepicker7'>
					<input type='text' class="form-control" placeholder="Return"/>
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
				</div>
			</div>
		</div>
		<div class='col-sm-3'>
			<div class="form-group">
				<div>
					<%= link_to "Search", cars_path, class: "btn btn-success car-search-btn call-to-action" %>
				</div>
			</div>
		</div>
	</div>
</div>