body {
	background:url("header-bg-2.jpg") top no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.main-content-area {
	margin-top: 5%;
}

#footer-section {
	width:100%;
	bottom:0;
	left:0;
}

#footer-container {
	height:100px;
}

.form-signin-heading {
  color: #FFFFFF;
}

.form-signin {
  margin-top: 60%;
}

.intro-lead-in {
	margin-top: 2%;
}

.header-focus {
  background-color: rgba(255,255,255,0.4);
  padding: 0;
}

.header-title {
  height: 120px;
  background-color: rgba(0,0,0,0.4);
  padding: 0;
}

.header-label {
	/*background-color: #000000;*/
	background-color: rgba(0,0,0,0.6);
	border-radius: 6px;
	height: 50px;
    width: 300px;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 0%;
}

.header-label-sm {
	background-color: #9BF3F1;
	opacity: 0.8;
	height: 50px;
    width: 200px;
    line-height: 50px;
    text-transform: uppercase;
    margin-top: 20%;
}

.cars-carousel-row {
	margin-top: 30px;
	height:150px;
	margin-bottom: 5%;
}

.carousel-img img {
	height:200px;
	width: 200px;
	border-radius: 6px;
}

.carousel-car-img img {
	height:372px;
	width: 800px;
	border-radius: 6px;
}

.carousel-item {
	left:0;
	right: 0;
	margin: auto;
}

.last-row {
	top:0;
	bottom:0;
	margin: auto;
	vertical-align: middle;
	position: relative;
}

.seller-message {
	/*background-color: #9BF3F1;*/
	background-color: rgba(0,0,0,0.3);
	border-radius: 6px;
	font-style: italic;
	font-size: 16px;
	height: 70px;
    width: 280px;
    padding: 8px;
    /*line-height: 50px;*/
    margin-top: 5%;
}

.call-to-action,
.call-to-action:link,
.call-to-action:visited,
.call-to-action:hover,
.call-to-action:active {
	text-decoration: none;
	color: #FFFFFF;
}

.call-to-action-2,
.call-to-action-2:link,
.call-to-action-2:visited,
.call-to-action-2:hover,
.call-to-action-2:active {
	text-decoration: none;
	color: #FED136;
	background-color: rgba(0,0,0,0);
}

#myCarousel {
	/*border: 4px solid black;*/
}

.container{
	margin-bottom: 2%;
}

.login-sm-font {
	text-decoration: none;
	color: #FFFFFF;
}

.form_car-description,
.new-pic-btn,
.new-pic-text {
	color: #000;
}

.tiny-price {
	background-color: #000;
	color: #fff;
	width: 50%;
	margin-bottom: -10px;
	z-index: 99;
}

.show-car-page-banner {
  font-size: 25px;
  font-weight: 200;
  padding: 0px 0 5px 0;
  color: #fff;
  background-color: #666;
}

.carousel-control,
.carousel-control:hover {
	background-color: rgba(255,255,255,0.5);
}

.car-details {
	margin-top: -1%;
}

.price-per-day-show-page {
	margin-top: -5%
}

#car-price-banner {
	margin-bottom: 0px;
}